@charset "UTF-8";


.topsubmenu {
	float: left;
	padding-top: 14px;
}

.topsubmenu ul {
	padding-top: 12px;
	margin: 0;
}

.topsubmenu ul li {
	float: left;
	list-style: none;
	margin-right: 10px;
}

.topsubmenu ul li a {
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
}

.topsubmenu ul li a:hover {
	text-decoration: underline;
}

.topmenu select {
	display: none;
}

.topmenuwrapper {
	background-color: #3a9ac4;
}

.topmenu {
	float: left;
}

.sf-menu,.sf-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 10em;
}

.sf-menu ul li {
	width: 100%;
}

.sf-menu li:hover {
	visibility: inherit;
}

.sf-menu li {
	float: left;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	display: block;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.sf-menu a {
	display: block;
	position: relative;
}

.webkit .sf-menu li:hover ul,.webkit .sf-menu li.sfHover ul {
	left: 0;
}

.sf-menu li:hover ul,.sf-menu li.sfHover ul {
	left: 0;
	top: 1.4em;
	z-index: 999999;
}



.makmenu .makmenu-search-submit:hover {
	padding: inherit;
	margin: inherit;
}

.makmenu input[type=text],.makmenu input[type=email],.makmenu textarea {
	margin: 0;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-ox-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-height: 150px;
	max-width: 100%;
	font-size: 13px;
	color: #aaa;
}

.makmenu .wpcf7-submit,.makmenu .wpcf7-submit:hover {
	margin-top: 5px;
	float: right;
}

.makmenu p {
	margin-bottom: 10px;
}

.makmenu h4 {
	margin-bottom: 3px;
}

.makmenu p {
	font-size: 15px;
}

.makmenu .makmenu-target {
	-webkit-transition: none;
	transition: none;
}

.makmenu .makmenu-submenu,.makmenu .makmenu-submenu .makmenu-item {
	font-weight: 400;
}

.makmenu .makmenu-submenu-footer.makmenu-submenu-footer-id-183 a {
	color: white;
	background: black;
	background: rgba(0,0,0,.5);
	display: block;
	padding: 2px 5px;
	font-size: 12px;
	font-weight: normal;
}

.makmenu .makmenu-submenu-footer.makmenu-submenu-footer-id-183 a:hover {
	background: tomato;
}
a:focus {
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
}

