.env

*.zip

*.log

.htaccess

*.sql

/error_log

1blog

/includes/config/classDbConnection.php

/includes/config/config.php

cgi-bin

protected/vendor

**/sitemap.xml

/cisco

/gallery_images

/img

/yii

/protected/runtime/

/protected/config/secrets.local.php

/customfiles_old/


