.env

/bootstrap/compiled.php

.env.*.php

.env.php

*.zip

*.log

.htaccess

*.sql

!cms2/sql/

!cms2/sql/rbac_admin_role.sql

/includes/config/secrets.local.php

/oauth/callback/*.txt

/oauth/callback/.zoho_refresh_token

/oauth/callback/zoho_refresh_token

/oauth/callback/error_log

/error_log



!uploads

uploads/*



!images

images/*



!/images/custom/

!/images/custom/*



1blog

/includes/config/classDbConnection.php

/includes/config/config.php



cgi-bin

vendor



**/sitemap.xml

**/config.php



/cisco

/gallery_images

/img

/yii

/protected/runtime/

/protected/config/secrets.local.php

/customfiles_old/


