.ega-modal {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99999;
}
.ega-modal .message {
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    background: white;
    position: relative;
    border-radius: 0.2rem;
}
@media (max-width: 768px) {
    .ega-modal .message {
        width: 90%;
        height: 300px;
   }
}
.ega-modal .message .product-img {
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ega-modal .message .text {
    width: 100%;
}
.ega-modal .message .text .h1-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #69dfff;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}
.ega-modal .message .text .h1-container h3 {
    font-size: 30px;
    font-weight: 300;
    padding: 20px;
    border: dashed 2px #fff;
    color: #fff;
}
.ega-modal .message .text hr {
    width: 50%;
    margin: 0 auto;
}
.ega-modal .message .text .price-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.ega-modal .message .text .price-container p {
    font-size: 1.5em;
}
.ega-modal .message button {
    height: 4.5rem;
    min-width: 10rem;
    border: none;
    background: black;
    color: white;
    margin: 0 auto;
    padding: 0 2rem;
    border-radius: 3px;
    position: absolute;
    bottom: -2.25rem;
    font-size: 2em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
}
.ega-modal .message button:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    background: white;
    color: black;
}
.ega-modal .message button:focus {
    outline: none;
}
.ega-modal .message .ion-close-circled {
    font-size: 3em;
    color: white;
    position: absolute;
    right: -1rem;
    top: -40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.display {
    height: 100vh;
    display: flex;
}
@keyframes spin {
    0% {
        transform: rotate(0);
   }
    100% {
        transform: rotate(360deg);
   }
}
@keyframes picMove {
    0% {
        transform: translate(0, 0);
   }
    100% {
        transform: translate(0, 100px) scale(1.1, 1.1);
   }
}
@media (max-width: 991px) {
    #xmas-006 .ega-home-banner {
        flex-direction: column;
   }
    #xmas-006 .ega-home-banner #canvasContainer {
        order: 0;
   }
    #xmas-006 .ega-home-banner .ega-order--1 {
        order: 0;
   }
}
@media (max-width: 767px) {
    #xmas-006 .ega-home-banner {
        min-height: 100px;
   }
}
@media (max-width: 1024px) {
    #xmas-006 .ega-home-banner #countdown {
        width: 620px;
   }
}
@media (max-width: 991px) {
    #xmas-006 .ega-home-banner #countdown {
        bottom: 80px;
   }
}
@media (max-width: 767px) {
    #xmas-006 .ega-home-banner #countdown {
        width: 300px;
        bottom: 0;
   }
    #xmas-006 .ega-home-banner #countdown .flip {
        width: 24px;
        height: 40px;
        margin: 2px;
        float: none;
        display: inline-block;
        padding: 0;
   }
    #xmas-006 .ega-home-banner #countdown .flip li {
        line-height: 40px;
   }
    #xmas-006 .ega-home-banner #countdown .flip li .up:after {
        height: 1px;
   }
    #xmas-006 .ega-home-banner #countdown .flip li .inn {
        font-size: 20px;
   }
    #xmas-006 .ega-home-banner #countdown .flip-clock-divider {
        float: none;
        display: inline-block;
        height: 40px;
        margin: 2px;
   }
    #xmas-006 .ega-home-banner #countdown .flip-clock-divider .flip-clock-label {
        display: none;
   }
    #xmas-006 .ega-home-banner #countdown .flip-clock-divider .flip-clock-dot {
        width: 5px;
        height: 5px;
   }
    #xmas-006 .ega-home-banner #countdown .flip-clock-divider .flip-clock-dot.top {
        top: 10px;
   }
    #xmas-006 .ega-home-banner #countdown .flip-clock-divider .flip-clock-dot.bottom {
        bottom: 10px;
   }
}
@media (max-width: 767px) {
    #xmas-006 .ega-pro {
        margin-bottom: 20px;
   }
}
@media (max-width: 767px) {
    #xmas-006 .ega-pro__title {
        font-size: 0.9rem;
   }
}
@media (max-width: 767px) {
    #xmas-006 .ega-pro .ega-btn {
        font-size: 0.75rem;
   }
}
@media (max-width: 767px) {
    #xmas-006 .ega-section {
        padding: 30px 10px;
   }
}
@media (max-width: 767px) {
    #xmas-006 .ega-section .ega-row {
        margin-left: -10px;
        margin-right: -10px;
   }
}
@media (max-width: 767px) {
    #xmas-006 .ega-section .ega-row [class*=ega-col] {
        padding-left: 10px;
        padding-right: 10px;
   }
}
/* ========== VARIABLES ========== */
/* ========== MIXINS ========== */
.ega-color--initial {
    color: initial !important;
}
.ega-btn {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.ega-btn-color {
    background: #f00;
    color: #fff;
    font-size: 15px;
}
.ega-btn-color:hover {
    background-color: #f00;
    border-color: #f00;
    color: #fff;
}
.ega-btn-color--outline {
    background-color: transparent;
    border-color: #f00;
    color: #f00;
    font-size: 15px;
}
.ega-btn-color--outline:hover {
    background-color: #f00;
    border-color: #f00;
    color: #fff;
}
html, body {
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
}
#xmas-006 {
    background-color: #fcf9f2;
}
#xmas-006 .lazyloaded {
    width: auto;
    height: auto;
}
#xmas-006 .button__action {
    background: #eee;
    border-color: #eee;
    color: initial;
}
#xmas-006 .button__action:hover {
    background: #f00;
    border-color: #f00;
    color: #fff;
}
#xmas-006 .ega-header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 50px;
    padding: 5px 0;
    transform: translate3d(0px, -50px, 0px);
    -webkit-transition: transform 0.3s;
   /* Safari */
    transition: transform 0.3s;
    background-color: rgba(22, 22, 22, 0.5);
}
#xmas-006 .ega-header.fixed {
    transform: translate3d(0px, 0px, 0px);
}
#xmas-006 #back-to-home {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    width: 50px;
}
#xmas-006 #back-to-home svg {
    color: #fff;
}
#xmas-006 #logo img {
    height: 40px;
}
#xmas-006 .ega-home-banner {
    position: relative;
    min-height: 300px;
    height: 100vh;
    color: #000;
   /* background: url(/images/xmas_006_banner_img.webp) center center no-repeat;
    */
    background: url(/images/bg-2-nosnow.jpg) center center no-repeat;
    text-align: center;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#xmas-006 .ega-home-banner h2 {
    font-size: 3em;
    font-family: "Dancing Script";
}
#xmas-006 .ega-home-banner #canvasContainer {
    margin: 0 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    transform: translate(0, 0);
    border-radius: 100%;
    overflow: hidden;
    display: none;
    border-radius: 100%;
    border: 20px solid #000;
}
#xmas-006 .ega-home-banner #canvasContainer:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    box-shadow: -5px -15px 16px 8px rgba(0, 0, 0, 0.13);
    background: transparent;
    top: 16px;
    left: 20px;
    border-radius: 100%;
    z-index: 7;
}
#xmas-006 .ega-home-banner #canvasContainer:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 8;
    background: transparent;
    top: 0;
    left: 0;
    border-radius: 100%;
    border: 10px solid #eee e;
}
#xmas-006 .ega-home-banner #canvasContainer canvas {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: transparent;
    transform-origin: 50% 50%;
    border-radius: 100%;
    z-index: 7;
    animation: spin 1s ease-out 1;
}
#xmas-006 .ega-home-banner #canvasContainer .pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    border: none;
    transform: translate(-50%, -50%);
    width: 80px;
    z-index: 10;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
#xmas-006 .ega-home-banner #canvasContainer .pointer img {
    left: 50%;
    position: absolute;
    top: 34%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 80px;
}
@media (max-width: 768px) {
    #xmas-006 .ega-home-banner #canvasContainer {
        width: 320px;
        height: 320px;
        background-size: cover;
   }
}
#xmas-006 .ega-home-banner .ega-next-section {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
    font-size: 60px;
    line-height: 1;
    text-shadow: #030303 0px 4px 4px;
    animation-duration: 1.5s;
}
#xmas-006 .snow1 {
    background: url(/images/xmas_006_snow.webp);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: snowOne 10s infinite linear;
}
#xmas-006 .snow2 {
    background: url(/images/xmas_006_snow.webp);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: snowTwo 10s infinite linear;
    background-size: 300px;
    filter: blur(1px);
}
#xmas-006 .snow3 {
    background: url(/images/xmas_006_snow.webp);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: snowThree 10s infinite linear;
    background-size: 800px;
    filter: blur(2px);
}
@keyframes snowOne {
    0% {
        background-position: 0px 0px;
   }
    100% {
        background-position: 100px 750px;
   }
}
@keyframes snowTwo {
    0% {
        background-position: 0px -100px;
   }
    100% {
        background-position: 0px 750px;
   }
}
@keyframes snowThree {
    0% {
        background-position: 0px 100px;
   }
    100% {
        background-position: 300px 750px;
   }
}
#xmas-006 #banner-top {
    padding: 60px 30px;
}
#xmas-006 #banner-top .ega-banner {
    margin-top: 30px;
}
#xmas-006 .ega-section {
    padding: 30px;
}
#xmas-006 .ega-section__viewall {
    padding-bottom: 30px;
}
#xmas-006 .ega-section__viewall a {
    color: #333;
}
#xmas-006 .ega-section__viewall a i {
    color: #f00;
}
#xmas-006 .ega-heading {
    font-family: "Dancing Script";
}
#xmas-006 #block-1 {
    background-color: #fcf9f2;
}
#xmas-006 #block-1 .ega-heading, #xmas-006 #block-1 .ega-section__viewall a.ega-btn.ega-btn--pill {
    color: #fff;
    background: #f00;
    border: none;
}
#xmas-006 #block-1 .ega-pro__content {
    height: 128px;
}
#xmas-006 #block-1 .ega-pro__img img {
    width: 100% !important;
    object-fit: scale-down;
    height: 200px;
}
#xmas-006 #block-1 .ega-banner__img {
    width: 100% !important;
    height: 100% !important;
    max-height: 690px;
    object-fit: scale-down;
}
#xmas-006 #block-2 {
    background-color: #fcf9f2;
}
#xmas-006 #block-2 .ega-heading, #xmas-006 #block-2 .ega-section__viewall a.ega-btn.ega-btn--pill {
    color: #fff;
    background: #f00;
    border: none;
}
#xmas-006 #block-2 .ega-pro__content {
    height: 128px;
}
#xmas-006 #block-2 .ega-pro__img img {
    width: 100% !important;
    object-fit: scale-down;
    height: 200px;
}
#xmas-006 #block-2 .ega-banner__img {
    width: 100% !important;
    height: 100% !important;
    max-height: 690px;
    object-fit: scale-down;
}
#xmas-006 #block-pd-banner .ega-pro__content {
    height: 150px;
}
#xmas-006 #block-pd-banner .ega-pro__img img {
    width: 100% !important;
    object-fit: scale-down;
    height: 153px;
}
#xmas-006 #block-pd-banner .ega-banner__img {
    width: 100% !important;
    height: 305px !important;
    object-fit: cover;
}
#xmas-006 .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
#xmas-006 .owl-nav [class*=owl-] {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 30px;
    color: #000;
    padding: 0px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#xmas-006 .owl-nav [class*=owl-]:hover {
    background-color: #f00;
    color: #fff;
}
#xmas-006 .owl-nav [class*=owl-] i {
    line-height: inherit;
}
#xmas-006 .ega-title__img {
    text-align: center;
    margin: 0px auto 50px auto;
    max-width: 800px;
}
#xmas-006 .ega-pro {
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid transparent;
}
#xmas-006 .ega-pro:hover {
    border-color: #f00;
}
#xmas-006 .ega-pro__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: initial;
    font-size: 1.17em;
}
#xmas-006 .ega-pro .ega-btn {
    background-color: #eee;
    border: #eee;
    color: initial;
}
#xmas-006 .ega-pro .ega-btn:hover {
    background-color: #f00;
    border: #f00;
    color: #fff;
}
#xmas-006 .ega-pro__sale-tag.style1 {
    background-color: #f00;
    color: #fff;
}
#xmas-006 .ega-pro__sale-tag.style1 .triangle--left:after {
    border-left-color: #f00;
}
#xmas-006 .ega-section-featured {
    background-color: #66b5ff;
}
#xmas-006 .ega-section-featured .ega-heading {
    color: #fff;
}
#xmas-006 .ega-section-featured__slider {
    padding-top: 70px;
}
#xmas-006 .ega-section-featured__item {
    padding-left: 15px;
    padding-right: 15px;
}
#xmas-006 .ega-section-featured .owl-item img {
    width: 100%;
}
#xmas-006 .ega-section-featured .ega-pro {
    margin: 0 10px;
}
#xmas-006 .ega-section-partners {
    padding-left: 15px;
    padding-right: 15px;
}
#xmas-006 .ega-section-partners .ega-heading {
    color: #000;
}
#xmas-006 .ega-section-partners__slider {
    padding-top: 70px;
}
#xmas-006 .ega-section-partners__item {
    padding-left: 15px;
    padding-right: 15px;
}
#xmas-006 .ega-section-partners__item img {
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.175);
}
#xmas-006 .ega-footer {
    padding: 30px 0;
    background-color: #66b5ff;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
#xmas-006 #ega-loading {
    display: none;
}
/*** ega-modal ***/
.ega-modal-cart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.ega-modal-cart.show {
    opacity: 1;
    z-index: 9999999;
}
.ega-modal-cart__content {
    background-color: #fff;
    position: relative;
    width: auto;
    max-width: 500px;
    margin: 1.75rem auto;
    border-radius: 0.2rem;
    padding: 1rem;
    z-index: 1;
}
@media (max-width: 767px) {
    .ega-modal-cart__content {
        padding: 0;
   }
}
.ega-modal-cart__close {
    align-items: center;
    text-decoration: none;
    position: absolute;
    width: 30px;
    height: 30px;
    right: -12px;
    top: -12px;
    text-align: center;
    line-height: 25px;
    background-color: #444;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}
.ega-modal-cart__body {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    align-items: center;
    text-align: right;
    padding: 20px 10px;
}
@media (max-width: 767px) {
    .ega-modal-cart__body {
        font-size: 14px;
   }
}
.toast .ega-modal-cart__content {
    min-width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}
.toast.right .ega-modal-cart__content {
    right: 10px;
    left: auto;
}
.toast.top .ega-modal-cart__content {
    top: 10px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.toast.bottom .ega-modal-cart__content {
    bottom: 10px;
    top: auto;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.ega-modal-cart.toast.right .ega-modal-cart__close {
    left: auto;
    right: -9px;
    top: -12px;
}
.ega-modal-cart.toast.right .ega-modal-cart__content {
    transform: translateX(200px);
    top: 20px;
}
.ega-modal-cart.show.toast .ega-modal-cart__content {
    transform: translateX(0px);
    box-shadow: 0px 7px 36px rgba(16, 42, 67, 0.15);
    border-radius: 6px;
    min-width: 300px;
}
